{% extends "base.html" %}

{% block content %}

<h2>Blog --- {{ blog.name }}</h2><a href="{% url 'blog:addnewpost' blog.id %}">add a new post</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'blog:rmblog' blog.id %}">remvoe this blog</a><br>

<h3>Posts in this blog:</h3>
<ul>
{% for post in postlist %}
    <li><h3>{{ post.title }}</h3>{{ post.body|slice:":500" }}<a href="{% url 'blog:posts' post.id %}">...more</a></li><br>
{% endfor %}
</ul>


<!-- <a href="{% url 'blog:addnewpost' blog.id %}">add a new post</a><br>
<a href="{% url 'blog:rmblog' blog.id %}">remvoe this blog</a><br> -->

{% if page_id == 0 %}
<a href="{% url 'blog:blogs' blog.id next %}">next</a><br>
{% else %}
{% if page_id == num_pages %}
<a href="{% url 'blog:blogs' blog.id prev %}">prev</a><br>
{% else %}
<a href="{% url 'blog:blogs' blog.id prev %}">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'blog:blogs' blog.id next %}">next</a>
{% endif %}
{% endif %}

{% endblock %}